body{
 font-family: Montserrat;
    text-align: center;
}
h1{
    font-size: 50px;
    margin-bottom: 20px;
}

p{
    font-size: 22px;
    margin-top: 0;
}
span{
    text-decoration: underline;
}