*{
    margin: 0px;
    padding: 0px;
}
header{
    background-color: rgb(122, 244, 122);
    height: 30px;
}
nav{
    padding: 5px;
}
nav a{
    text-decoration: none;
    margin-left: 50px;
    padding: 5px;
}

.div1{
            width: 50px;
            height: 50px;
            background-color: green;
            border-radius: 50%;
            
        }
        
.div{
    width: 100px;
            height: 100px;
            display: inline-block;
            background-color: aqua;
            margin: 10px;
        }
#container{
    border: 3px solid black;
}        

#div4{
    position: fixed;
    right: 10px;
}
#div2{
    background-color: blue;
    position: absolute;
    top: 20px;
    left: 250px;
    z-index: 2;
}
footer{
    position: fixed;
    bottom: 1px;
    background-color: aquamarine;
}

